*, *::before, *::after {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
}


.header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/CT_SkillTest_v3/img/img1.png);
    background-size: cover;
}

.container ul {
    color: transparent;
    text-decoration: none;
    opacity: 0;
    padding-top: 14px;
    padding-right: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}


.nav {
    width: 100vw;
    height: 11vh;
    background-image: url(images/CT_SkillTest_v3/img/img2.png);
    background-repeat: no-repeat;
}

.section1 {
    width: 100vw;
    height: 45vw;
    background-image: url(images/CT_SkillTest_v3/img/img3.png);
    background-repeat: no-repeat;
    
}

.slide-carousel {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.img {
    padding: 5px;
}


.section2 img{
    width: 100%;
}
